.ourstyle {
    -fx-background-image:url('resources/background.jpg');
    -fx-background-repeat: stretch;
    -fx-background-size: 600 600;
    -fx-background-position: center center;

    -fx-font: 14px "Verdana";
}

.ourbutton {
    -fx-font-size: 12px;
    -fx-background-color:
        #3c7fb1,
        linear-gradient(#fafdfe, #e8f5fc),
        linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.ipad-dark-grey {
    -fx-background-color:
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
        linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
        linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
    -fx-background-insets: 0,1,4,5,6;
    -fx-background-radius: 9,8,5,4,3;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}

.ipad-grey {
    -fx-background-color:
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
    -fx-background-insets: 0,1,4,5;
    -fx-background-radius: 9,8,5,4;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}

.button{
  -fx-border-radius: 4px;
  -fx-background-radius: 4px;
  -fx-padding: 6px 12px 6px 12px;
}

.btn-default {
  -fx-text-fill: #333333;
  -fx-background-color: #ffffff;
  -fx-border-color: #cccccc;
}
.btn-default:hover {
  -fx-text-fill: #333333;
  -fx-background-color: #ebebeb;
  -fx-border-color: #adadad;
}

.btn-primary {
  -fx-text-fill: #ffffff;
  -fx-background-color: #428bca;
  -fx-border-color: #357ebd;
}
.btn-primary:hover {
  -fx-text-fill: #ffffff;
  -fx-background-color: #3276b1;
  -fx-border-color: #285e8e;
}