.ourstyle {
    -fx-background-image:url('resources/background.jpg');
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;

    -fx-font: 28px "Verdana";
}


.ourbutton {
    -fx-font-size: 12px;
    -fx-background-color:
        #3c7fb1,
        linear-gradient(#fafdfe, #e8f5fc),
        linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.button{
  -fx-border-radius: 4px;
  -fx-background-radius: 4px;
  -fx-padding: 6px 12px 6px 12px;
}

.btn-default {
  -fx-text-fill: #333333;
  -fx-background-color: #ffffff;
  -fx-border-color: #cccccc;
}
.btn-default:hover {
  -fx-text-fill: #333333;
  -fx-background-color: #ebebeb;
  -fx-border-color: #adadad;
}

.btn-primary {
  -fx-text-fill: #ffffff;
  -fx-background-color: #428bca;
  -fx-border-color: #357ebd;
}
.btn-primary:hover {
  -fx-text-fill: #ffffff;
  -fx-background-color: #3276b1;
  -fx-border-color: #285e8e;
}